<template name="header">

    {{#if canEditPost post}}
    <header class="container-fluid admin">
        {{#if post}}
        <div class="cover-image upload has-image" style="background-image:url({{post.cover}});background-position:{{post.coverPosition}}"><div class="dropzone"></div></div>

        {{else}}
        <div class="cover-image upload"><div class="dropzone"></div></div>
        {{/if}}
        <div class="header-title">
            <h1><span id="title" contenteditable>{{#if post}}{{post.title}}{{else}}Post title{{/if}}</span></h1>
            <h2><span id="subtitle" contenteditable>{{#if post}}{{post.subtitle}}{{else}}Post subtitle{{/if}}</span></h2>
        </div>

        <input type="hidden" id="post-id" value="{{post._id}}" />
    </header>
    {{else}}
    {{#if post }}
        <header class="container-fluid">

            <div class="cover-image" style="background-image:url({{post.cover}}); background-position:{{post.coverPosition}}"></div>
            <div class="header-title">
                <h1><span id="title" >{{post.title}}</span></h1>
                <h2><span id="subtitle">{{post.subtitle}}</span></h2>

            </div>


        </header>

    {{else}}
        <header class="container-fluid">
            {{#if currentUser}}
            <div class="cover-image upload has-image" style="background-image:url({{blogOptions 'blog_cover'}});background-position:{{blogOptions 'blog_coverPosition'}}"><div class="dropzone"></div></div>
            {{else}}
            <div class="cover-image" style="background-image: {{blog.cover.value}};background-position:{{blog.coverPosition.value}}"></div>
            {{/if}}
            <div class="header-title">
                {{#if currentUser}}
                <h1><span contenteditable="true" id="blog_title">{{{blogOptions 'blog_title'}}}</span></h1>
                <h2><span contenteditable="true" id="blog_subtitle">{{{blogOptions 'blog_subtitle'}}}</span></h2>
                {{else}}
                <h1><span>{{{blogOptions 'blog_title'}}}</span></h1>
                <h2><span>{{{blogOptions 'blog_subtitle'}}}</span></h2>
                {{/if}}
            </div>
        </header>
    {{/if}}
{{/if}}
</template>