<template name="create_post">

    <section class="meta-box">
        <input type="hidden" id="post-id" value="{{post._id}}" />
        <h2>Metadata for this post</h2>
        <form role="form">
            <div class="form-group">
                <label for="slug">slug</label>
                <input type="text" class="form-control" id="slug" placeholder="post-slug" value="{{post.slug}}">
            </div>
            <div class="form-group">
                <label for="tags">Tags</label>
                <input type="text" class="form-control" id="tags" placeholder="tag, tag, tag">
            </div>
            <div class="form-group">
                <label for="exampleInputFile">File input</label>
                <input type="file" id="exampleInputFile">
                <p class="help-block">Example block-level help text here.</p>
            </div>
            <div class="radio">
                <label>
                    {{#if isDraft post}}
                    <input type="radio" class="post-state" name="status" value="draft" checked> Saved as draft {{dateFrom post.date}}
                    {{ else }}
                    <input type="radio" class="post-state" name="status" value="draft"> Save as draft
                    {{/if}}
                </label>
            </div>
            <div class="radio">
                <label>
                    {{#if isDraft post}}
                    <input type="radio" class="post-state" name="status" value="publish"> Publish now
                    {{else}}
                    <input type="radio" class="post-state" name="status" value="publish" checked> Published {{dateFrom post.date}}
                    {{/if}}
                </label>
            </div>
            <button type="submit" class="btn btn-primary btn-lg">Save post</button>
        </form>
        <a href="#" class="toggle glyphicon glyphicon-plus"></a>
    </section>


    <section class="container-fluid wrapper post admin">

        <div class="content">
            <div class="excerpt" id="post-excerpt" contenteditable="">
                {{#if post}}{{{post.excerpt}}}{{else}}Post excerpt{{/if}}
            </div>
            <div class="meta">
                <div class="author">
                    By <a href="/">{{userName currentUser}}</a>
                </div>
                <div class="date">
                    {{dateFrom post.date}}
                </div>
            </div>
            <div class="body" id="post-body" contenteditable>
                {{#if post}}{{{post.body}}}{{else}}Post content goes here{{/if}}
            </div>


        </div>
        <footer class="author">
            <div class="content">
                <div class="clearfix">
                    <div class="avatar">
                        {{{userAvatar currentUser 128}}}
                    </div>
                    <div class="name">
                        {{userName currentUser}}
                    </div>
                </div>
            </div>

        </footer>
    </section>
</template>